{% extends "base.html" %}

{% load static %}

{% block banner %}
<!--
	".inner" is set up as an inline-block so it automatically expands
	in both directions to fit whatever's inside it. This means it won't
	automatically wrap lines, so be sure to use line breaks where
	appropriate (<br />).
-->

<!-- Not useful atm -->

<div class="inner">

	<header>
		<h2>KIDS(PLAYGROUND);</h2>
	</header>
	<p>Voici kids(playground);
		<br> le terrain de jeu des enfants de 
		<br> 5 à 7 ans (ou plus)</p>
	<footer>
		<ul class="buttons vertical">
			<li><a href="#main" class="button fit scrolly">Découvrir un nouveau monde merveilleux</a></li>
		</ul>
	</footer>

</div>
{% endblock %}

{% block content %}

<!-- Main -->
<article id="main">

	<header class="special container">
		<span class="icon fa fa-puzzle-piece" aria-hidden="true"></span>
		<h2><strong>kids(playground);</strong> un vrai bac à sable numérique</h2>
		<p>		
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu placerat ligula. Praesent at sapien laoreet, aliquet erat sed, rhoncus felis. Vivamus blandit egestas orci non accumsan. Suspendisse ultrices neque nisi, ut faucibus ex semper at. Proin ut odio eget nunc maximus semper. Sed in vehicula lacus. Phasellus quis lectus vel risus rhoncus maximus. Nam volutpat tempor massa eu imperdiet. Aliquam erat volutpat. Donec mollis risus eros, non rutrum lectus vulputate hendrerit. Nulla blandit est eget erat facilisis, id congue orci cursus. Morbi sed suscipit nisl, ac posuere ex.
		</p>
	</header>

	<!-- One -->
		<section class="wrapper style2 container special-alt">
			<div class="row 50%">
				<div class="8u 12u(narrower)">
					<header>
						<h2>Un tout nouveau terrain de jeu</h2>
					</header>
					<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu comteger ut fermentum lorem. Lorem ipsum dolor sit amet. Sed tristique purus vitae volutpat ultrices. eu elit eget commodo. Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo.</p>
					<footer>
						<ul class="buttons">
							<li><a href="{% url 'playground' %}" class="button">Découvrir</a></li>
						</ul>
					</footer>

				</div>
				<div class="4u 12u(narrower) important(narrower)">

					<ul class="featured-icons">
						<li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
						<li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
						<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
						<li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
						<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
						<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
					</ul>

				</div>
			</div>
		</section>

	<!-- Two -->
		<section class="wrapper style1 container special">
			<div class="row">
				<div class="4u 12u(narrower)">

					<section>
						<span class="icon featured fa-check"></span>
						<header>
							<h3>Découvrir</h3>
						</header>
						<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
					</section>

				</div>
				<div class="4u 12u(narrower)">

					<section>
						<span class="icon featured fa-check"></span>
						<header>
							<h3>S'amuser</h3>
						</header>
						<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
					</section>

				</div>
				<div class="4u 12u(narrower)">

					<section>
						<span class="icon featured fa-check"></span>
						<header>
							<h3>Comprendre</h3>
						</header>
						<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
					</section>

				</div>
			</div>
		</section>

	<!-- Three -->
		<section class="wrapper style3 container special">

			<header class="major">
				<h2>Toute une série d'exercices pour exprimer ta créativité</h2>
			</header>
			<!-- TODO : Put some gifs here to show what they will learn -->
			<div class="row">
				<div class="6u 12u(narrower)">

					<section>
						<a href="#" class="image featured"><img src="{% static 'pictures/pic01.jpg' %}" alt="" /></a>
						<header>
							<h3>Les déplacements</h3>
						</header>
						<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
					</section>

				</div>
				<div class="6u 12u(narrower)">

					<section>
						<a href="#" class="image featured"><img src="{% static 'pictures/pic02.jpg' %}" alt="" /></a>
						<header>
							<h3>Les rotations</h3>
						</header>
						<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
					</section>

				</div>
			</div>
			<div class="row">
				<div class="6u 12u(narrower)">

					<section>
						<a href="#" class="image featured"><img src="{% static 'pictures/pic03.jpg' %}" alt="" /></a>
						<header>
							<h3>Les boucles</h3>
						</header>
						<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
					</section>

				</div>
				<!-- <div class="6u 12u(narrower)">

					<section>
						<a href="#" class="image featured"><img src="{% static 'pictures/pic04.jpg' %}" alt="" /></a>
						<header>
							<h3>And Another Train</h3>
						</header>
						<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
					</section>

				</div> -->
			</div>

			<!-- <footer class="major">
				<ul class="buttons">
					<li><a href="#" class="button">Encore un p</a></li>
				</ul>
			</footer> -->

		</section>

</article>

<!-- CTA -->
<section id="cta">

	<header>
		<h2>Prêt à faire éclore ton <strong>imagination</strong> ?</h2>
		<p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
	</header>
	<footer>
		<ul class="buttons">
			<li><a href="#" class="button special">S'inscrire</a></li>
		</ul>
	</footer>

</section>
{% endblock %}