{% extends "base.html" %}

{% load static %}

{% block additionalcss %}
<!-- Some properties of main.css are override there -->
<link rel="stylesheet" href="{% static 'css/playground.css' %}" />
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="blockly" style="position: absolute"></div>

 <div id="playground" class="flex-vertical">	
	<header id="playground-header">
		<h1 id="logo"><a href="{% url 'home' %}">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			KIDS(PLAYGROUND);</a>
		</h1>
		<nav id="nav">
			<ul>
				<li>Terrain de jeu</li>
			</ul>
		</nav>
	</header>

	<div class="flex-horizontal">
	{% block blockzone %}
	<div id="blockzone">
		<button id="run">Run code</button>
	</div>
	{% endblock %}

	{% block display %}
	<div id="display">
		Zone d'affichage
	</div>
	{% endblock %}
	</div>

	{% block code %}
	<div id="code">
	</div>
	{% endblock %}
</div>

<xml id="toolbox">
  <block type="controls_if"></block>
  <block type="controls_repeat_ext"></block>
  <block type="logic_compare"></block>
  <block type="math_number"></block>
  <block type="math_arithmetic"></block>
  <block type="text"></block>
  <block type="text_print"></block>
</xml>
{% endblock %}

{% block footer %}
{% endblock %}

{% block additionaljs %}
<script src="{% static 'js/blockly/blockly_compressed.js' %}"></script>
<script src="{% static 'js/blockly/blocks_compressed.js' %}"></script>
<script src="{% static 'js/blockly/javascript_compressed.js' %}"></script>
<script src="{% static 'js/blockly/msg/fr.js' %}"></script>
<script src="{% static 'js/playground.js' %}"></script>
{% endblock %}